body {
  height: 100%;
  background: url('../images/iStock-602302802-v2(2)%203.jpg') rgb(8, 31, 41);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.2 Helvetica;
  color: rgb(255, 255, 255);
}

.footer {
  float: left;
  clear: both;
  width: 70%;
  height: 166px;
  margin: 30px 0 0 10%;
}

.footer .text {
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.header {
  float: left;
  width: 22.5%;
  margin-left: 10%;
  background-color: #00b0f0;
}

.header .text {
  margin-left: 6.66667%;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  float: left;
  width: 369px;
  height: auto;
  margin-left: 1.87686%;
  overflow: hidden;
}

.section {
  float: left;
  clear: both;
  width: 70%;
  margin: 40px 0 0 10%;
  padding-bottom: 30px;
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.section .text {
  margin-left: 1.875%;
}

.text {
  float: left;
}

.text-5 p {
  margin-bottom: 1em;
}

.text-1 {
  margin-top: 74px;
  font-size: 1.875em;
}

.text-2 {
  clear: both;
  border-bottom: 20px solid rgb(0, 176, 240);
  font-size: 1.25em;
}

.text-3 {
  font-size: 1.875em;
  font-weight: 700;
  line-height: 1.38;
  color: #00b0f0;
}

.text-4 {
  clear: both;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text-5 {
  clear: both;
  margin-top: 20px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 1;
  margin: 10px 0 0 1.875%;
  font-style: italic;
  font-size: 1em;
}

.text-7 {
  position: relative;
  z-index: 0;
  margin: 10px 0 0 20px;
  font-style: italic;
  font-size: 1em;
}

.text-8 {
  clear: both;
  margin: 20px 0 0 1.875%;
  font-size: 0.625em;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 176, 240);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}